@font-face {
    font-family: nunito;
    src: url(Nunito-VariableFont_wght.ttf);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: nunito;

}
#section-title{
    text-align: center;
    margin: 10px 0px;
    text-decoration: underline;
    color: darkblue;
}


#team{
    display: block;
    
    padding:0px 300px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 150px;

}
.card{
    width: 100%;
    
    margin-bottom: 20px;
    

}
.card-pic{
    height: 100%;
    width: 100%;
    
    

}
.card-pic img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}
.card-name , .card-role{
    text-align: center;


}
.card-name{
    font-size: 24px;
}
.card-role{
    font-style: italic;
    color: gray;
}
.card-socials{
    display: flex;
    

}
@media only screen and (min-width:768px) {
    #team{
        display: flex;
        flex-direction: row;
        padding:0px 150px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card{
        width: 28%;
        height: 100%;
        margin-bottom: 20px;
        
    }
    .card-pic{
        width: 350px;
        height: 100%;
        margin-bottom: 20px;
        
    }
    .card-pic img{
        height: 100%;
        width:100%;
        object-fit: contain;
    }



    
}